#ribbon{
    background-color: rgb(0, 138, 73);
}
#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#birthday{
    background-color: rgb(0, 138, 73);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#ventas, #ventas2{
    background: rgb(255,255,255);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

.card-border{
    border: solid 2px rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}
#footer{
    background-color: rgb(0, 138, 73);
    background-size: 50px 50px;
}