
<div class="jumbotron">
    <h1 class="display-4">Ganaderia UAO</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati id, cupiditate quam consectetur laudantium ullam, perspiciatis porro est ex saepe quod ipsa amet dolorem! Neque id dolore vero! Necessitatibus, libero.</p>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati id, cupiditate quam consectetur laudantium ullam, perspiciatis porro est ex saepe quod ipsa amet dolorem! Neque id dolore vero! Necessitatibus, libero.</p>
    <a href="https://www.youtube.com" class="btn btn-primary">Youtube</a>

</div>
<div id="ventas">
  <div class="container-md p-5">
    <div class="row pt-5">
        <h3 class="text-center pb-5 pt-5 h1">Últimos anuncios publicados</h3>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card w-100 card-border mb-5">
                <img src="./img/card01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Raza</h5>
                  <p class="card-text">Informacion del Lote a vender</p>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card w-100 card-border mb-5">
                <img src="./img/card02.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Raza</h5>
                  <p class="card-text">Informacion del Lote a vender</p>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card w-100 card-border mb-5">
                <img src="./img/card03.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Raza</h5>
                  <p class="card-text">Informacion del Lote a vender</p>
                </div>
             </div>
        </div>
    </div>
  </div>
</div>
<div id="ventas2">
  <div class="container-md p-5">
    <div class="row pt-5">
        <h3 class="text-center pb-5 pt-5 h1">Anuncios destacados</h3>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card w-100 card-border mb-5">
                <img src="./img/card01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Raza</h5>
                  <p class="card-text">Informacion del Lote a vender</p>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card w-100 card-border mb-5">
                <img src="./img/card02.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Raza</h5>
                  <p class="card-text">Informacion del Lote a vender</p>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card w-100 card-border mb-5">
                <img src="./img/card03.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Raza</h5>
                  <p class="card-text">Informacion del Lote a vender</p>
                </div>
              </div>
        </div>
      </div>
  </div>
</div>
<div id="footer" class="p-5">
  <div class="container w-50 pt-5">
    <div class="row row-cols-md-2 justify-content-md-center">
      <div class="col text-center">
        <a href="#">
          <button class="btn btn-lg rounded-pill btn-warning w-100  p-3 shadow-sm font-weight-bold">Inicio</button>
        </a>
        
      </div>
    </div>
    <div class="row justify-content-md-center py-5">
      <div class="col text-center font-weight-light">
        <p>© 2022-VentaGan-Desarrollado por Team red</p>
      </div>
      
    </div>
    <div class="row"></div>
  </div>
</div>
</body>